.carta-menu {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item-carta-menu {
  text-align: center;
}
.body-carta-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("/assets/fondo-productos.png");
  background-size: cover;
  background-position: center center;
  height: 320px;
}

.title-carta-menu {
  max-width: 60% !important;
  position: absolute;
  top: 35px;
  z-index: 1;
}
.title-carta-menu2 {
  max-width: 85% !important;
  position: absolute;
  top: 50px;
  z-index: 1;
}

.title-carta-menu3 {
  max-width: 50% !important;
  position: absolute;
  top: 35px;
  z-index: 1;
}
.cerveza {
  max-width: 70%;
  height: 260px;
  object-fit: cover;
  z-index: 2;
  position: absolute;
  top: 75px;
}
.hamburguesa {
  max-width: 100%;
  height: 255px;
  z-index: 2;
  position: absolute;
  top: 95px;
}

.alitas {
  max-width: 75%;
  height: 255px;
  z-index: 2;
  position: absolute;
  top: 100px;
}
.btn-menu {
  max-width: 70%;
  margin-top: 30px;
}
.item-carta-menu h5 {
  font-size: 1em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

@media (min-width: 767px) {
  .carta-menu {
    width: 100%;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
  }
  .item-carta-menu {
    text-align: center;
  }
  .body-carta-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("/assets/fondo-productos.png");
    background-size: cover;
    background-position: center center;
    height: 400px;
  }

  .title-carta-menu {
    max-width: 70% !important;
    position: absolute;
    top: 35px;
    z-index: 1;
  }
  .title-carta-menu2 {
    max-width: 90% !important;
    position: absolute;
    top: 40px;
    z-index: 1;
  }

  .title-carta-menu3 {
    max-width: 50% !important;
    position: absolute;
    top: 35px;
    z-index: 1;
  }
  .cerveza {
    max-width: 100%;
    height: 320px;
    object-fit: cover;
    z-index: 2;
    position: absolute;
    top: 100px;
  }
  .hamburguesa {
    max-width: 100%;
    height: 330px;
    z-index: 2;
    position: absolute;
    top: 105px;
  }

  .alitas {
    max-width: 75%;
    height: 310px;
    z-index: 2;
    position: absolute;
    top: 122px;
  }
  .btn-menu {
    max-width: 50%;
    margin-top: 40px;
  }
  .item-carta-menu h5 {
    font-size: 1em;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
}
