
.swiper-container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.opiniones {
  background-color: white;
  height: 500px;
}

.opiniones .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 80%;  
}

.swiper-slide img {
  display: block;
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.container-opiniones {
  width: 100%;
  margin: 0px auto;
  text-align: center;
}

.card-stars {
  text-align: center;
}

.card-opinion p {
  text-align: justify;

}

.card-opinion img {
  width: 80px;
  height: 80px;

  object-fit: cover;
  border-radius: 100%;
  display: block;
  margin: auto;
}

.opiniones h2 {
  font-size: 30px;
  text-align: center;
  color: #000000;
  font-weight: 700;
}

.item-slider p {
  padding: 5px 50px;
}

@media (min-width: 767px) {
  .container-opiniones {
    width: 70%;
    margin: 20px auto;
    text-align: center;
  }

  .opiniones {
    margin-top: 30px;
    background-color: white;
    height: 500px;
  }

  .swiper-slide img {
    display: block;
    width: 90%;
    height: 90%;
    object-fit: contain;
  }

  .opiniones .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 80%;  
  }  
  
}

