.box-video {
  width: 100%;
  height: 500px;
  position: relative;
  background-color: black;
}

.box-video video {
  width: 100%;
  height: 100%;
}
.video-descktop {
  display: none;
}
.video-mobil {
  width: 100%;
  height: 500px;
}
.box-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 10px;
}
.box-text h1 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  margin: 0px auto 12px auto;
}
.box-text h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  margin: 0;
}
@media (min-width: 767px) {
  .box-video {
    height: 0px;
    width: 100%;
    max-width: 100%; /* Así establecemos el ancho máximo (si lo queremos) */
    padding-top: 56.25%; /* Relación: 16/9 = 56.25% */
    position: relative;
  }
  .box-video video {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
  }

  .video-descktop {
    display: block;
    max-width: 100%;
  }
  .video-mobil {
    display: none;
  }
  .box-text {
    padding: 150px;
  }
  .box-text h1 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 60px;
    text-align: center;
  }
  .box-text h2 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 45px;
    text-align: center;
  }
}
